* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.search-btn {
  background-color: transparent;
  border: none;
  outline: none;
}

.hero-image,
.hero-image-two,
.hero-image-three,
.hero-image-four {
  width: 250px;
  height: 300px;
  margin: 10px;
  border: 1px solid #fff;
}

.movies {
  width: 40%;
  padding: 4px;
  border-radius: 24px;
  background-color: #000;
  color: #fff;
  border: none;
  z-index: 1;
}

.carousel-images {
  /* overflow: hidden; */
  width: 90%;
  position: relative;
}

h2 {
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
}

.brand-logos {
  width: 100%;
  display: block;
}

.logo-slider {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logos {
  width: 5rem;
  height: auto;
}

#cards {
  width: 100%;
  display: flex;
}

.paragraph-one {
  width: 90%;
  color: #f3f1f1e5;
  font-weight: 200;
  text-align: left;
}

.overlay-position {
  position: absolute;
  bottom: 85px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 2em;
}

.carousel {
  transform-style: preserve-3d;
}

.movie-poster {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
  transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
}

.movie-poster.first-image,
.movie-poster.active {
  opacity: 1;
  position: relative;
  width: 100%;
  /* z-index: 900; */
}

.carousel-photo.prev,
.carousel-photo.next {
  z-index: 800;
}
.carousel-photo.prev {
  transform: translateX(-100%); /* Move 'prev' item to the left */
}
.carousel-photo.next {
  transform: translateX(100%); /* Move 'next' item to the right */
}

.carousel-button-prev,
.carousel-button-next {
  position: absolute;
  top: 50%;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001;
  border: 1px solid black;
}
.carousel-button-prev {
  left: 0;
}
.carousel-button-next {
  right: 0;
}
.carousel-button-prev::after,
.carousel-button-next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}
.carousel-button-next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

footer {
  width: 100%;
  height: 40vh;
  border: 1px solid #f3f1f1e5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  font-size: 12px;
  padding: 10px;
}

.unordered-list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.links {
  display: flex;
  gap: 10px;
}

.footer-item-one {
  width: 50%;
  text-align: left;
}

.social-media-icon {
  width: 24px;
  height: 24px;
}

.footer-item-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 1rem 0;
}

.contact-footer {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
