/* details page styles */

.info-title {
  color: var(--white);
  font-size: 1rem;
  margin-bottom: 1rem;
}

.movie-details-2 {
  margin-block: 3em;
  padding-block: 1em;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-info-description {
  color: grey;
  margin-bottom: 1.5rem;
}

.movie-discription {
  width: 45%;
}

.details-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.movie-banner {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 10% 25%;
  background-size: cover;
  /* aspect-ratio: 16 / 9; */
}

.back {
  width: 600px;
  position: absolute;
  bottom: 60px;

  .movie-tag {
    background-color: #000;
    color: var(--title-color);
    border-radius: 2rem;
    display: inline;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    font-weight: 500;
    text-align: left;
  }

  .release_date {
    font-size: 3rem;
    color: var(--title-color);
    letter-spacing: -2px;
    margin-block: 1rem;
    font-family: var(--ft-mulish);
    text-align: left;
  }

  .movie_gens {
    color: var(--body-text);
    text-align: left;
  }

  .overview {
    color: var(--body-text);
    margin-block: 16px;
    font-family: var(--ft-mulish);
    font-size: 1rem;
    text-align: left;
  }
}


.cast-card {
  display: flex;
  width: 240px;
  gap: 8px;

  .cast-profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  .cast-role {
    font-size: 14px;
    color: var(--white);
    margin-bottom: 4px;
  }

  .cast-name {
    font-size: 12px;
    color: #ffffff73;
  }
}

/* logo carousel here */
.logo-carousel {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.logo-item {
  flex: 0 0 auto;
  width: 150px;
  height: auto;
}

.logo-item img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* Movie details section */
#movie-details {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

#movie-details img {
  max-width: 300px;
  border-radius: 10px;
}

#movie-details div {
  flex: 1;
}

/* Section headings */
h2 {
  margin-bottom: 20px;
  border-bottom: 2px solid #444;
  padding-bottom: 10px;
}

/* Cast and similar movies sections */
#movie-cast,
#similar-movies {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#movie-cast div,
#similar-movies div {
  text-align: center;
  width: 150px;
}

#movie-cast img,
#similar-movies img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

#movie-cast img:hover,
#similar-movies img:hover {
  transform: scale(1.1);
}

/* Cast and similar movies text */
#movie-cast p,
#similar-movies p {
  margin-top: 10px;
  font-size: 14px;
}