* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #181515;
  color: white;
}

.search {
  width: max-content;
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;
  transition: box-shadow 0.25s;
}

.searchboxbar {
  display: flex;
  align-items: center;
  background: #333;
  padding: 0.5em 2em;
  justify-content: space-between;
  border-radius: 40px;
  transition: 0.3sec;
}

.searchboxbar input {
  margin-left: 20px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.2rem;
  display: none;
}

.search:focus-within {
  box-shadow: 0 0 2px #000000bf;
  width: 300px;
}

.Search-icon {
  color: #40d761;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background: transparent;
  width: 100%;
}

.logo {
  display: flex;
  gap: 7px;
  padding: 10px;
}

.logo-name {
  font-weight: 700;
  font-size: 1.5rem;
  color: #40d761;
  display: flex;
  align-items: center;
}
.noti img {
width: 15px;
padding: 10px;
background: transparent;
width: 25px;
height: 25px;
border-radius: 60px;
margin: 10px;
}

form {
  display: flex;
  border: 1px solid;
  border-radius: 24px;
  align-items: center;
}

.navbar {
  display: none;
}

.mySlides {
  display: none;
  opacity: 0.5;
  height: 400px;
}

.slider-container {
  width: 80%;
  display: flex;
  justify-content: center;
  max-width: 600px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 10px #0000004d;
}

.slides {
  display: flex;
  width: 100%;
  transition: transform 0.5s;
}

.slide { 
  width: 100%;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  display: block;
  opacity: 0.6;
  height: 540px;
}

input[type="radio"] {
  display: none;
}

section {
margin: 2rem;
}

.dots {
height: 8px;
width: 8px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active {
background-color: #717171;
}

.popular-release {
margin: 2rem 1em;
display: flex;
flex-direction: column;
gap: 1rem;
}

.new-popular-wrapper {
display: flex;
align-items: center;
gap: 2rem;
}

.new-popular-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.release-overview {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: absolute;
  bottom: 24px;
}

.poster-img {
  width: 100px;
  height: 100px;
  border-radius: 16px;
}

img {
width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

.number {
  font-size: 2rem;
  font-weight: 700;
}

.img-release-wrap {
  width: 200px;
  height: 300px;
  background-color: #0000006e;
  position: relative;
}

.movie-release-poster {
  z-index: -1; 
  border-radius: 16px; 
}

.movie-release-overview {
position: absolute;
bottom: 12px;
}

#new-release {
display: block;
margin: 1rem 0;
display: flex;
flex-direction: column;
gap: 1.5rem;
margin: 2em 1em;
}


.release-content-wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .navbar {
      display: flex;
      align-items: center;
      gap: 1rem;
      color: #fff;
  }

  .navbar:hover {
      color: #008000;
  }
  
}